/*
*
* CSS Reset
*
*/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
*
* General Rules
*
*/

/* Color Combination 
bluewish: #007bff;
pinkish: #fc3b9d;
yellowish-b: #edf12078;
yellowish-f: #fbfe2a;

*/

body {
	font-family: 'Montserrat', sans-serif;
	
}

.container-fluid,
.row {
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, .nav-link {
	font-family: 'Baloo', cursive;
} 



/*****************************************/
			/*Start - Landing Page*/
/*****************************************/

#showcase {
	background-image: url(../../landing-page/img/landing-image1.jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

#showcase > img {
	width: 10%;
	margin-top: 20px;
	margin-left: 50px;
}

.title {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

h1,
.showcase-p {
	padding-left: 15px;
	padding-right: 15px;
}

h1 {
	font-size: 115px;
	letter-spacing: 3px;
	color: #fbfe2a;
	word-spacing: 1rem;
	margin-bottom: 0;
	text-shadow: 0 0 20px #000;
}

small {
	display: block;
	font-size: 35px;
	color: #000;
	font-weight: 400;
	margin-bottom: 20px;
	text-shadow: 0 0 11px #f8f9fa;
}

.showcase-p {
	font-size: 35px;
	font-weight: 600;
	color: #000;
	margin-bottom: 10px;
	padding: 40px;
	color: #fff;
	box-shadow: 0 0 20px #343a40;
	text-shadow: 0 0 20px #000;
	background-color: rgba(0, 123, 255, 0.45);

}

#showcase strong {
	color: #fbfe2a;
	font-weight: 700;
}

.showcase-btn {
	margin-top: 35px;
	padding: 5px 32px;
	font-size: 32px;
	border: 1px solid #fff;
	letter-spacing: 1px;
}

.showcase-btn:hover {
	border: 1px solid #000;
	background-color: transparent;
	color: #000;
}

#landing-text {
	background-image: url(../../landing-page/img/png1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding-top: 80px;
	
	color: black;
	line-height: 20px;
}

.icons {
	width: 38%;
	border: 5px solid #0000ff;
	border-radius: 50%;
}

.icon-title {
	margin: 20px 5px;
	font-size: 25px;
}

.icon-text {
	font-size: 20px;
	padding: 0 10px;
}

.landing-carousel-header {
	margin-top: 80px;
	box-shadow: 0 0 11px 0px #0000ff;
	color: #000;
	padding-left: 33px;
	padding-right: 33px;
	padding-top: 30px;
	padding-bottom: 150px;
	font-size: 24px;
	margin-bottom: 0;
	background-image: url(../../landing-page/img/landing-bg1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	text-shadow: 0 0 20px #fff;
}

.landing-video {
 	margin: -110px 0;
 	z-index: 5;
}


.landing-social-media {
	background-color: #fbfe2adb; 
}

/* Social Media */

.fab {
    padding: 13px;
    font-size: 17px;
    width: 45px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.landing-social-media {
	border-bottom: 2px solid lightgrey; 
	padding-top: 150px;
}

.social-media-icon {
	padding-top: 30px;
	padding-bottom: 30px;
}

.social-media-icon > a {
	margin: 0 35px;
}

.social-media-icon > a > i:hover {
    background-color: transparent;
 }

 .social-media-icon > a > .fa-facebook-f:hover {
 	color: #3b5999;
 }

 .social-media-icon > a > .fa-google-plus-g:hover {
 	color: #dd4b39;
 }

 .social-media-icon > a > .fa-twitter:hover {
 	color: #0084ff;
 }

 .social-media-icon > a > .fa-instagram:hover {
 	color: #e4405f;
 }

 .social-media-icon > a > .fa-pinterest-p:hover {
 	color: #bd081c;
 }

.fa-facebook-f {
    background-color: #3b5999;
    color: white;
}

.fa-google-plus-g {
	background-color: #dd4b39;
    color: white;
}

.fa-twitter {
    background-color: #0084ff;
    color: white;
}

.fa-instagram {
	background-color: #e4405f;
    color: white;
}

.fa-pinterest-p {
	background-color: #bd081c;
    color: white;
}

/* Footer */

.footer {
	padding: 25px 0;
	background-color: #007bff;
	color: white;
}

.footer > div {
	margin: 0;
}

.footer > div > p {
	margin: 0;
	font-size: 15px;
}

.footer > div > div > a {
	
	border-bottom: 2px solid #fff;
	text-decoration: none; 
	padding: 10px;
	margin: 0 70px;

}

.footer > div > div > a:hover {
	opacity: .80;
	border-bottom: 1px solid #000;
}

.modal-content {
	background-color: #007bff;
	font-size: 20px;
}

/*****************************************/
			/*End - Landing Page*/
/*****************************************/





/***************************************/
			/*Start - Home Page*/
/***************************************/




/*Update: navbar bg-color, nav-link, active a, and nav link hover*/

.navbar-fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	background-color: #f8f9fabd; 
	padding: 0 30px;
	
}

.nav-link {
	width: 150px;
	font-size: 15px;
	margin-bottom: 2px;
	font-weight: 900;
	color: #0000ffa8!important;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 0;
}

.active > a {
	color: #0000ff!important;
	text-transform: uppercase;
}

.nav-link:hover {
	font-weight: 800;
	transition: .2s;
	color: #0000ff!important;
}

.navbar-brand {
	width: 8%;
}




/*** End of Navigation Bar ***/


/*** Carousel ***/


.carousel-text {
	width: 70%;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.carousel-text > h5 {
	font-size: 70px;
	letter-spacing: 1px;
	color: #fbfe2a;
	word-spacing: 1rem;
	text-shadow: 0 0 19px #000;
}


.carousel-text > p {
	font-size: 40px;
	letter-spacing: 1px;
	text-shadow: 0 0 19px #000;
	word-spacing: 1rem;
	color: #fff;
}


.home-jumbotron {
	margin: 0;
	background-color: #fbfe2adb;
	padding-top: 50px;
	padding-bottom: 150px;
}

.home-jumbotron > div > .lead {
	margin: 0;
	font-size: 25px;
	font-weight: 700;
}


/*Start - Albums */



.activity-trainings-container {
	background-image: url(../../home/img/png1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-top: -90px;
	z-index: 100;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 30px;
	box-shadow: 0 0 20px #000;
	border-bottom: 10px solid #fbfe2a;
}

.activity-trainings {
	padding: 40px 0;
	border-top: 10px solid #fbfe2a; 
}

.community-tour {
	padding: 30px 0;
	
}



.card-body {
	text-align: center;
}

.activity-photos > div:nth-child(1) > img,
.activity-photos > div:nth-child(2) > img {
	border-top: 5px solid #fc3b9d;
}

.activity-photos > div:nth-child(1) > div > h3,
.activity-photos > div:nth-child(2) > div > h3 {
	color: #fc3b9d;
	letter-spacing: 2px;
}

.activity-photos > div:nth-child(3) > img,
.activity-photos > div:nth-child(4) > img {
	border-top: 5px solid #007bff;
}

.activity-photos > div:nth-child(3) > div > h3,
.activity-photos > div:nth-child(4) > div > h3 {
	color: #007bff;
	letter-spacing: 2px;
}

.activity-photos > div:nth-child(1),
.activity-photos > div:nth-child(3) {
	padding-right: 0;
}

.activity-photos > div:nth-child(2),
.activity-photos > div:nth-child(4) {
	padding-left: 0;
}


.video-first {
	border-top: 5px solid #fc3b9d;
}

.video-second {
	border-top: 5px solid #fbfe2a;
}

.video-third {
	border-top: 5px solid #007bff;
}

.video-first,
.video-second,
.video-third {
	transition: all 1s ease;
}

.video-first:hover,
.video-second:hover,
.video-third:hover {
	transform:scale(1.1);
}



.events-articles {
	padding: 0 30px;
	margin-top: 60px; 
	margin-bottom: 60px;
}


.events > h2,
.articles > h2 {
	padding: 15px 0;
	background-color: #fc3b9d;
	color: #fff;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
}

.events > ul,
.article-info {
	margin: 15px 0; 
}

.events > ul > li {
	padding: 20px;
	font-size: 20px;
}

.list-group-item:hover {
	background-color: #fc3b9da8;
}



/* Article */

.article-info {
	background-color: rgba(0, 123, 255, 0.33);
	border-top-right-radius: .25rem;
	border-top-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
	padding: 20px;
}

.article-photo {
	float: left;
	width: 50%;
	margin-right: 20px;
}

.article-text {
	overflow: hidden;
}

.article-text > h5 {
	font-size: 23px;
}

.article-text > p {
	margin-bottom: 0;
	margin-top: 15px;
	font-size: 19px;
}

.readmore {
	float: right;
	margin: 15px 0;
	color: blue;
}


/* Social Media - Contact - Map */

.social-map-contact {
	background-color: #fbfe2adb; 
}

.home-social-media > div {
	border-bottom: 2px solid grey; 
}

.address {
	margin-top: 40px;
	margin-bottom: 30px;
}

#map-container {
	width: 100%;
	
}





/***************************************/
			/*End - Home Page*/
/***************************************/



/***************************************/
			/*Start - About Page*/
/***************************************/

.page-title {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.page-title > h2 {
	font-size: 60px;
	letter-spacing: .1em;
	box-shadow: 0 0 16px 0px black;
	background-color: rgba(255, 255, 255, 0.19);
	color: #fc3b9d;
	
	padding: 20px 0;
	font-weight: 700;
	word-spacing: 1rem;
	text-transform: uppercase;
}

#about {
	background-image: url(../../about/img/home8.jpg);
	background-size: cover;
	background-position: center;
	min-height: 80vh;
}


.about-jumbotron {
	padding: 60px 20px;
	margin-bottom: 0;
	background-color: #fbfe2adb;
}

.about-jumbotron > div > p {
	margin-bottom: 0;
	font-size: 30px;
}

#about-contents {
	background-image: url(../../home/img/png1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.vision > div,
.started > div {
	margin-left: 300px;
	margin-right: 300px;
	padding-top: 30px;
}



.vision {
	padding-top: 25px;
}

.started {
	margin-top: 15px;
}

.vision > div > h2 {
	font-size: 50px;
	color: #007bff;
}

.started > div > h2 {
	font-size: 50px;
	color: #fc3b9d;
}

.vision > div > p,
.started > div > p {
	background-color: #007bff;
	border-top-right-radius: 1.25rem;
	border-top-left-radius: 1.25rem;
	border-bottom-right-radius: 1.25rem;
	border-bottom-left-radius: 1.25rem;
	padding: 30px;
	color: #fff;
	font-size: 25px;
	line-height: 1.5em;
}

.staff {
	margin-top: 20px;
}

.staff-header,
.testimonials-header {
	
	background-image: url(../../about/img/about-header-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-top: 80px;
	margin-bottom: 0px;
	font-size: 50px;
	padding: 45px 0;
	letter-spacing: 20px;
	text-transform: uppercase;
	
}

.staff > div,
.testimonials > div {
	margin-top: 40px;
	
}

.testimonials {
	margin: 0;
}

.testimonials > div {
	margin-bottom: 75px;
}

.staff > div:first-child,
.testimonials > div:first-child {
	padding-left: 30px;
	border-right: 1px solid #000;
}

.staff > div:nth-child(2),
.staff > div:nth-child(3),
.testimonials > div:nth-child(2) {
	border-right: 1px solid #000;
}

.staff > div:last-child {
	padding-right: 30px;
}

.icons-staff {
	width: 70%;
	border-radius: 50%;
}

.testimony-icon {
	width: 40%;
	border-radius: 50%; 
}

.icon-text {
	padding-top: 25px;
	padding-bottom: 15px;
}

.about-social-media-icon,
.about-contact {
	margin: auto;
}

.about-social-media-icon > a {
	margin: 0 25px;
}

.about-contact {
	margin-top: 15px;
	border-left: 1px solid grey;
	padding: 35px 35px;
	font-size: 20px;

}


/***************************************/
			/*End - About Page*/
/***************************************/

/***************************************/
			/*Start - Programs Page*/
/***************************************/

#programs {
background-image: url(../../programs/img/programs-bg.jpg);
background-size: cover;
background-position: center;
min-height: 100vh;
}

#programs > div > h2 {
	color: #fbfe2adb;
	text-shadow: 0 0 20px #000;
	background-color: rgba(0,123,255,.25);
}

#programs > div > p {
	color: #fff;
	text-shadow: 0 0 20px #000;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 3px;
}

.school-program {
	background-image: url(../../programs/img/png1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 30px 50px;
	border-top: 10px solid #fc3b9d;
	border-bottom: 10px solid #fc3b9d; 
}

.program-list {
	margin-bottom: 30px;
	background-color: rgba(0,123,255,.25);
	
}



.program-list > div > .offer-image {
		margin-top: 30px;
		border: 2px solid #fff;
		overflow: hidden;
	}

.program-list > div > .offer-image > img {
	width: 100%;
	height: 190px;
	object-fit: cover;
}

.program-list > div > div > p {
	font-size: 20px;
}



.program-heads-blue,
.program-heads-pink {
	padding: 50px 0;
	font-size: 50px;
}

.program-heads-blue {
	color: #007bff;
}

.program-heads-pink {
	color: #fc3b9d;
}

.accordion > div > .card-header {
	background-color: #fbfe2ab8;
	padding: 0;
}

.accordion > div > div > h4 {
	color: #000;
	padding: 15px 30px;
}

.accordion > div > .card-body {
	margin-left: 100px;
	text-align: left;
}

.sam,
.rem {
	list-style: none;
}


table {
	border: 2px solid grey;
}

th {
	font-size: 20px;
}

.seminars {
	margin-bottom: 40px;
}


/***************************************/
			/*End - Programs Page*/
/***************************************/


/***************************************/
			/*Start - Careers Page*/
/***************************************/
#careers {
background-image: url(../../careers/img/background.jpg);
background-size: cover;
background-position: center;
min-height: 80vh;
}

.jobs {
	background-image: url(../../programs/img/png1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	
}

.jobs h2 {
	font-size: 40px;
	padding: 20px 0;
	color: #fbfe2adb;
	background-color: #007bffb5;
	margin: 25px 0;

}

.jobs > div > div {
	padding: 0 25px;
}


.job-title {
	color: #007bff;
	font-size: 25px;
	margin: 15px 0;

}

.qualifications,
.benefits {
	list-style: none;
}

.overview-benefits {
	margin-top: 30px;
}

.jobs p,
.jobs li {
	font-size: 20px;
}



/***************************************/
			/*End - Careers Page*/
/***************************************/


/***************************************/
			/*Start - Inquiry Page*/
/***************************************/

/*.nav-inquiry {
	position: static;
	background-color: #ffff0075; 	
}*/
/*
.inquiry {
	margin-top: 10px;
	width: 50vw; 
	border: 15px solid #007bff;
	border-radius: 2%;
	background-color: #007bff;
	padding: 0;
}

.inquiry-header {
	margin-bottom: 13px;
	background-color: white;
	padding: 10px 0;
}

.inquiry-details {
	background-color: white;
	padding: 10px;
}

textarea {
	display: block;
	width: 100%;
	border: 1px solid lightgrey;
}

.inquiry-btn {
	padding: 6px 55px;
	font-size: 20px;
}

.disclaimer-form {
	font-size: 10px;
}

.form-group {
		margin-bottom: 20px;
}*/

/***************************************/
			/*End - Inquiry Page*/
/***************************************/

/*// Small devices (landscape phones, 576px and up)*/
@media only screen and (max-width: 400px) {

	

	#showcase > img {
		width: 20%;
		margin-top: 10px;
		margin-left: 10px;
	}

	

	h1,
	.showcase-p {
		padding-left: 5px;
		padding-right: 5px;
	}

	h1 {
		font-size: 49px;
		letter-spacing: 1px;
		word-spacing: 0;
		
	}

	small {
		
		font-size: 20px;
		font-weight: 200;
		
	}

	.showcase-p {
		font-size: 20px;
		font-weight: 200;
		padding: 10px;
	}

	
	.showcase-btn {
		margin-top: 10px;
		padding: 5px 27px;
		font-size: 15px;	
	}

	

	#landing-text {
		
		padding-top: 40px;
		
		line-height: 18px;
	}

	.icons {
		width: 31%;
		
		margin-top: 10px;
	}

	.icon-title {
		margin: 15px 5px;
		font-size: 20px;
	}

	.icon-text {
		font-size: 16px;
		padding: 0 10px;
	}

	.landing-carousel-header {
		margin-top: 40px;
		padding-left: 12px;
		padding-right: 12px;
		padding-top: 12px;
		padding-bottom: 24px;
		font-size: 17px;
		
	}

	.landing-video {
	 	margin: -11px 0;
	 	
	}

	

	/* Social Media */

	.fab {
	    padding: 10px;
	    font-size: 14px;
	    width: 35px;
	    text-align: center;
	    text-decoration: none;
	    border-radius: 50%;
	}

	.landing-social-media {
		
		padding-top: 5px;

	}

	

	.social-media-icon > a {
		margin: 0 7px;
	}

	

	/* Footer */

	.footer {
		padding: 0;
		font-size: 13px;
	}

	.footer > div {
		margin: 0;
	}

	.footer > div > div {
		margin: 15px 0;
	}


	.footer > div > div > a {
		
		margin: 0 25px;

	}

	

	/***************************************/
			/*Start - Home Page*/
	/***************************************/


	/***Navigation Bar***/

	

	.nav-link {
		width: 100%;
		font-size: 12px;
		
	}

	.nav-link:hover {
		font-weight: 800;
		transition: .2s;
		color: #007bff;
	}

	.navbar-brand {
		width: 20%;
	}

	.navbar-toggler {
		
		padding: 3px;
		margin-right: 0;

	}
	

	/*** End of Navigation Bar ***/


	/*** Carousel ***/

	.carousel-text {
		
		top: 60%;
		
	}

	.carousel-text > h5 {
		font-size: 23px;
		
		word-spacing: 0;
		
	}


	.carousel-text > p {
		font-size: 13px;
		
		word-spacing: 0;
		
	}


	.home-jumbotron {
		
		padding-top: 30px;
		padding-bottom: 110px;
	}

	.home-jumbotron > div > .lead {
		margin: 0;
		font-size: 15px;
		font-weight: 700;
	}


	/*Start - Albums */

	

	.activity-trainings-container {
		
		text-align: center;
	}


	
	.activity-trainings {
		padding-bottom: 5px;
		padding-top: 30px;
	}

	.activity-trainings,
	.community-tour {
		
		font-size: 20px;
		
	}

	.community-tour {
		padding-top: 0;
		padding-bottom: 30px
		
	}

	
	.card-body > p {
		font-size: 15px;
	}

	.activity-photos {
		padding: 20px;
	}

	.activity-photos h3,
	.community-videos h3 {
		font-size: 20px;
	}

	.activity-photos > div {
		padding: 0;
	}

	

	#events-articles-container {
		margin-top: 38px!important;
		margin-bottom: 0!important;
	}

	.events-articles {
		padding: 0!important;
	}

	.events,
	.articles {
		padding: 0;
	}


	.events > h2,
	.articles > h2 {
		padding: 5px 0;
		font-size: 25px;
		
	}

	.article-text {
		overflow: visible;
	}

	.articles > h2 {
		margin-top: 30px;
	}

	

	.events > ul > li {
		padding: 12px!important;
		font-size: 14px!important;
	}

	
	/* Article */

	

	.article-photo {
		
		width: 100%;
		margin-bottom: 10px;
		margin-right: 0;
	}

	.article-text > h5 {
		font-size: 20px;
	}

	.article-text > p {
		
		font-size: 15px;
	}

	

	.contact {
		
		text-align: center;
	}

	#map-container {
		height: 150px!important;
		width: 100%;
		margin: 0;
	}





	/***************************************/
				/*End - Home Page*/
	/***************************************/



	/***************************************/
				/*Start - About Page*/
	/***************************************/

	.page-title {
		width: 80%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.page-title > h2 {
		font-size: 34px;
		letter-spacing: .1em;
		box-shadow: 0 0 16px 0px black;
		background-color: rgba(255, 255, 255, 0.19);
		color: #fc3b9d;
		padding: 20px 0;
		font-weight: 700;
		word-spacing: 1rem;
		text-transform: uppercase;
	}

	#about {
		background-image: url(../../about/img/home8.jpg);
		background-size: cover;
		background-position: center;
		min-height: 80vh;
	}


	.about-jumbotron {
		padding: 22px 15px;
		margin-bottom: 0;
		background-color: #fbfe2adb;
	}

	.about-jumbotron > div > p {
		margin-bottom: 0;
		font-size: 15px;
	}

	#about-contents {
		background-image: url(../../home/img/png1.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

	.vision > div,
	.started > div {
		margin-left: 5px;
		margin-right: 5px;
		padding-top: 30px;
	}

	.vision {
		padding-top: 10px;
	}

	.started {
		margin-top: 15px;
	}

	.vision > div > h2 {
		font-size: 30px;
		color: #007bff;
	}

	.started > div > h2 {
		font-size: 30px;
		color: #fc3b9d;
	}

	.vision > div > p,
	.started > div > p {
		
		padding: 12px;
		color: #fff;
		font-size: 17px;
		line-height: 1.2em;
		margin: 0 10px;
	}

	.staff {
		margin-top: 20px;
	}

	.staff-header,
	.testimonials-header {
		
		margin-top: 30px;
		margin-bottom: 0px;
		font-size: 20px;
		padding: 40px 0;
		letter-spacing: 10px;
		text-transform: uppercase;
		
	}

	.staff > div,
	.testimonials > div {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.testimonials {
		margin: 0;
	}

	.testimonials > div {
		margin-bottom: 20px;
	}

	.staff > div:first-child,
	.testimonials > div:first-child {
		padding-left: 30px;
		border-right: none;
	}

	.staff > div:nth-child(2),
	.staff > div:nth-child(3),
	.testimonials > div:nth-child(2) {
		border-right: none;
	}

	.staff > div:last-child {
		padding-right: 30px;
	}

	.icons-staff {
		width: 70%;
		border-radius: 50%;
	}

	.testimony-icon {
		width: 40%;
		border-radius: 50%; 
	}

	.icon-text {
		padding-top: 25px;
		padding-bottom: 15px;
	}

	.about-social-media-icon {
		margin-top: 20px;
	}

	.about-social-media-icon a {
		margin: 0 5px;
	}

	.about-contact {
		margin-top: 0;
		border-left: 0;
		padding: 25px 25px;
		font-size: 15px;

	}


	/***************************************/
				/*End - About Page*/
	/***************************************/

	/***************************************/
				/*Start - Programs Page*/
	/***************************************/

	

	#programs > div > h2 {
		
		font-size: 25px;
	}

	#programs > div > p {
		
		font-size: 17px!important;
		
		letter-spacing: 1px;
	}

	.school-program {
		
		padding: 0;
		
	}

	.program-list {
		margin-bottom: 0;
		
	}

	.program-list > div:first-child {
		padding-left: 15px;
	}

	.program-list > div:last-child {
		padding-right: 15px;
	}

	

	.program-list > div > div > p {
		font-size: 18px;
		
	}


	.program-heads-blue,
	.program-heads-pink {
		padding: 25px 0;
		font-size: 25px;
	}

	

	.accordion > div > div > h4 {
		
		padding: 15px 20px;
	}

	.accordion > div > .card-body {
		margin-left: 0;
		
	}

	


	table {
		border: 1px solid lightgrey;
	}

	th {
		font-size: 15px;
	}

	td {
		font-size: 12px;
	}

	.seminars > div {
		margin-bottom: 40px;
	}

	.seminars {
		margin-bottom: 0;
	}



	/***************************************/
				/*End - Programs Page*/
	/***************************************/


	/***************************************/
				/*Start - Careers Page*/
	/***************************************/
	
	

	.jobs {
		
		padding: 30px 10px!important;
	}

	.jobs h2 {
		font-size: 30px;
		padding: 10px 0;
		
		margin: 15px 0;

	}

	.jobs > div > div {
		padding: 0 10px;
	}


	.job-title {
		
		font-size: 20px;
		margin: 10px 0;

	}

	

	.jobs p,
	.jobs li {
		font-size: 13px;
	}

	/***************************************/
				/*End - Careers Page*/
	/***************************************/


	/***************************************/
				/*Start - Inquiry Page*/
	/***************************************/
	.nav-inquiry {
		position: static;
		
	}
	
	.inquiry {
		margin: 8px!important;
		border: 5px solid #007bff;
		border-radius: 0;
		background-color: #007bff;
		padding: 5px!important;
	}

	.inquiry-header {
		margin-bottom: 5px;
	}

	.inquiry-header,
	.inquiry-subDetails {
		
		background-color: white;
		padding-top: 12px;
		padding-bottom: 11px;
		font-size: 18px;
	}

	.inquiry-subDetails {
		margin-bottom: 0;
	}

	.inquiry-details {
		background-color: white;
		padding: 10px;
		
	}

	.inquiry-details > p {
		font-size: 10px;
		text-align: justify;
		margin-bottom: 0;
	}

	.inquiry-details form label,
	.inquiry-details form div div {
		font-size: 15px!important;
		padding: 0!important;
		margin-bottom: 10px;
	}

	.inquiry-details form div div input {
		padding: 3px 5px;
		font-size: 12px;
	}

	textarea {
		display: block;
		width: 100%;
		border: 1px solid lightgrey;
	}

	.inquiry-btn {
		padding: 2px 30px;
		font-size: 17px;
	}

	.disclaimer-form {
		font-size: 10px;
	}

	.form-group {
		margin-bottom: 0;
	}


}


@media only screen and (min-width: 401px) and (max-width: 960px){
		/*****************************************/
					/*Start - Landing Page*/
		/*****************************************/

		#showcase {
			background-image: url(../../landing-page/img/landing-image1.jpg);
			background-size: cover;
			background-position: center;
			min-height: 100vh;
		}

		#showcase > img {
			width: 15%;
			margin-left: 50px;*/
		}

		

		h1 {
			font-size: 110px;
			
		}

		

		.showcase-p {
			font-size: 32px;
		}

		
		.landing-carousel-header {
			
			padding-bottom: 135px;
			
		}

		.landing-video {
		 	
		 	padding: 25px 0;
		}

		

		.landing-social-media {
			border-bottom: 2px solid grey; 
			padding-top: 95px;
		}

		

		.footer > div > div > a {
			
			margin: 0 25px;
		}

		

		/*****************************************/
					/*End - Landing Page*/
		/*****************************************/





		/***************************************/
					/*Start - Home Page*/
		/***************************************/


		/***Navigation Bar***/

		

		.nav-link {
			width: 100%;
			
		}

		.navbar-brand {
			width: 15%;
		}

		.navbar-toggler {
			padding: 15px;
			
		}
		

		/*** End of Navigation Bar ***/


		/*** Carousel ***/


		.carousel-text {
			top: 70%;
			
		}

		.carousel-text > h5 {
			font-size: 40px;
			
		}


		.carousel-text > p {
			font-size: 26px;
			
		}


		.home-jumbotron {
			
			padding-bottom: 122px;
		}

		.home-jumbotron > div > .lead {
			font-size: 24px;
		}


		/*Start - Albums */

		
		.card-body > h3 {
			font-size: 20px;
		}

		.activity-photos > div:nth-child(1) > img,
		.activity-photos > div:nth-child(2) > img {
			border-top: 5px solid #fc3b9d;
		}

		.activity-photos > div:nth-child(1) > div > h3,
		.activity-photos > div:nth-child(2) > div > h3 {
			color: #fc3b9d;
			letter-spacing: 2px;
		}

		.activity-photos > div:nth-child(3) > img,
		.activity-photos > div:nth-child(4) > img {
			border-top: 5px solid #007bff;
		}

		.activity-photos > div:nth-child(3) > div > h3,
		.activity-photos > div:nth-child(4) > div > h3 {
			color: #007bff;
			letter-spacing: 2px;
		}

		.activity-photos > div:nth-child(1),
		.activity-photos > div:nth-child(3) {
			padding-right: 0;
		}

		.activity-photos > div:nth-child(2),
		.activity-photos > div:nth-child(4) {
			padding-left: 0;
		}


		.video-first {
			border-top: 5px solid #fc3b9d;
		}

		.video-second {
			border-top: 5px solid #fbfe2a;
		}

		.video-third {
			border-top: 5px solid #007bff;
		}

		.video-first,
		.video-second,
		.video-third {
			transition: all 1s ease;
		}

		.video-first:hover,
		.video-second:hover,
		.video-third:hover {
			transform:scale(1.1);
		}

		#events-articles-container {
			margin: 50px 0;
		}

		.events-articles {
			padding: 0 10px;
		}


		.events > ul > li {
			padding: 15px;
			font-size: 17px;
		}



		/* Article */


		.article-text {
			overflow: visible;
		}

		




		/***************************************/
					/*End - Home Page*/
		/***************************************/



		/***************************************/
					/*Start - About Page*/
		/***************************************/

		.page-title {
			width: 80%;
			
		}

		.page-title > h2 {
			font-size: 50px;
			
		}

		


		.about-jumbotron {
			padding: 20px 20px;
			
		}

		.about-jumbotron > div > p {
			
			font-size: 20px;
		}

		
		.vision > div,
		.started > div {
			margin-left: 35px;
			margin-right: 35px;
			
		}

		.vision {
			padding-top: 10px;
		}

		

		
		.vision > div > h2 {
			font-size: 38px;
			/*color: #007bff;*/
		}

		.started > div > h2 {
			font-size: 33px;
			/*color: #fc3b9d;*/
		}

		.vision > div > p,
		.started > div > p {
			
			padding: 14px;
			/*color: #fff;*/
			font-size: 18px;
			/*line-height: 1.2em;*/
			margin: 0;
		}

		

		.testimonials-header {
			margin-top: 0;
		}

		.staff > div,
		.testimonials > div {
			margin-top: 0;
			margin-bottom: 0;
		}

		.testimonials {
			margin: 0;
		}



		/*.testimonials > div {
			margin-bottom: 75px;
		}*/

		/*.staff > div:first-child,
		.testimonials > div:first-child {
			padding-left: 30px;
			border-right: 1px solid #000;
		}

		.staff > div:nth-child(2),
		.staff > div:nth-child(3),
		.testimonials > div:nth-child(2) {
			border-right: 1px solid #000;
		}*/

		.staff > div:last-child {
			padding-right: 30px;
		}

		/*.icons-staff {
			width: 70%;
			border-radius: 50%;
		}

		.testimony-icon {
			width: 40%;
			border-radius: 50%; 
		}*/

		.icon-text {
			padding-top: 10px;
			/*padding-bottom: 15px;*/
		}

		/*.about-social-media-icon,
		.about-contact {
			margin: auto;
		}*/

		.about-social-media-icon {
			padding-bottom: 0;
		}

		.about-social-media-icon > a {
			margin: 0 6px;
		}

		/*.about-contact {
			margin-top: 15px;
			border-left: 1px solid grey;
			padding: 35px 35px;
			font-size: 20px;

		}
		*/

		/***************************************/
					/*End - About Page*/
		/***************************************/

		/***************************************/
					/*Start - Programs Page*/
		/***************************************/

		.nav-brand {
			width: 12%;
		}

		/*#programs {
		background-image: url(../../programs/img/programs-bg.jpg);
		background-size: cover;
		background-position: center;
		min-height: 100vh;
		}*/

		/*#programs > div > h2 {
			color: #fbfe2adb;
			text-shadow: 0 0 20px #000;
			background-color: rgba(0,123,255,.25);
		}*/

		#programs > div > p {
			/*color: #fff;
			text-shadow: 0 0 20px #000;*/
			font-size: 25px;
		/*	font-weight: 700;*/
			letter-spacing: 2px;
		}

		

		.program-list > div:first-child {
			padding-left: 15px;
		}

		.program-list > div:last-child {
			padding-right: 15px;
		}

		/*.program-list > div > .offer-image {
		margin-top: 30px;
		width: 100%;
		height: 190px;
		border: 2px solid #fff;
		overflow: hidden;
		}*/

		/*.program-list > div > div > p {
			font-size: 20px;
		}



		.program-heads-blue,
		.program-heads-pink {
			padding: 50px 0;
			font-size: 50px;
		}

		.program-heads-blue {
			color: #007bff;
		}

		.program-heads-pink {
			color: #fc3b9d;
		}

		.accordion > div > .card-header {
			background-color: #fbfe2ab8;
			padding: 0;
		}

		.accordion > div > div > h4 {
			color: #000;
			padding: 15px 30px;
		}

		.accordion > div > .card-body {
			margin-left: 100px;
			text-align: left;
		}

		.sam,
		.rem {
			list-style: none;
		}


		table {
			border: 2px solid grey;
		}

		th {
			font-size: 20px;
		}

		.seminars {
			margin-bottom: 40px;
		}*/

		

		/***************************************/
					/*End - Programs Page*/
		/***************************************/


		/***************************************/
					/*Start - Careers Page*/
		/***************************************/
		/*#careers {
			background-image: url(../../careers/img/background.jpg);
			background-size: cover;
			background-position: center;
			min-height: 80vh;
		}*/

		.jobs {
			/*background-image: url(../../programs/img/png1.jpg);
			background-size: cover;
			background-position: center;
			background-attachment: fixed;*/
			padding: 50px 20px;
		}

		/*.jobs h2 {
			font-size: 40px;
			padding: 20px 0;
			color: #fbfe2adb;
			background-color: #007bffb5;
			margin: 25px 0;

		}

		.jobs > div > div {
			border: 3px solid #8080809e;
			border-top-right-radius: 1rem;
			border-top-left-radius: 1rem;
			border-bottom-right-radius: 1rem;
			border-bottom-left-radius: 1rem;
			padding: 0 25px;
		}


		.job-title {
			color: #007bff;
			font-size: 25px;
			margin: 15px 0;

		}

		.qualifications,
		.benefits {
			list-style: none;
		}

		.overview-benefits {
			margin-top: 30px;
		}

		.jobs p,
		.jobs li {
			font-size: 20px;
		}*/

		/***************************************/
					/*End - Careers Page*/
		/***************************************/


		/***************************************/
					/*Start - Inquiry Page*/
		/***************************************/

		.nav-inquiry {
			position: static;
			background-color: #ffff0075; 	
		}

		.inquiry {
			margin: 30px;
			border: 15px solid #007bff;
			border-radius: 2%;
			background-color: #007bff;
			padding: 0;
		}

		.inquiry-header {
			margin-bottom: 13px;
			background-color: white;
			padding: 10px 0;
		}

		.inquiry-details {
			background-color: white;
			padding: 50px 50px;
		}

		textarea {
			display: block;
			width: 100%;
			border: 1px solid lightgrey;
		}

		.inquiry-btn {
			padding: 6px 55px;
			font-size: 20px;
		}

		.disclaimer-form {
			font-size: 10px;
		}

		.form-group {
			margin-bottom: 20px;
		}

		/***************************************/
					/*End - Inquiry Page*/
		/***************************************/

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 961px) {
	
/*****************************************/
			/*Start - Landing Page*/
/*****************************************/

	/*#showcase {
		background-image: url(../../landing-page/img/landing-image1.jpg);
		background-size: cover;
		background-position: center;
		min-height: 100vh;
	}*/

	#showcase > img {
		width: 10%;
		/*margin-top: 20px;
		margin-left: 50px;*/
	}

	/*.title {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}*/

	h1,
	.showcase-p {
		padding-left: 15px;
		padding-right: 15px;
	}

	h1 {
		font-size: 115px;
		letter-spacing: 3px;
		color: #fbfe2a;
		word-spacing: 1rem;
		margin-bottom: 0;
		text-shadow: 0 0 20px #000;
	}

	small {
		display: block;
		font-size: 35px;
		color: #000;
		font-weight: 400;
		margin-bottom: 20px;
		text-shadow: 0 0 11px #f8f9fa;
	}

	.showcase-p {
		font-size: 35px;
		font-weight: 600;
		color: #000;
		margin-bottom: 10px;
		padding: 40px;
		color: #fff;
		box-shadow: 0 0 20px #343a40;
		text-shadow: 0 0 20px #000;
		background-color: rgba(0, 123, 255, 0.45);

	}

	#showcase strong {
		color: #fbfe2a;
		font-weight: 700;
	}

	.showcase-btn {
		margin-top: 35px;
		padding: 5px 32px;
		font-size: 32px;
		border: 1px solid #fff;
		letter-spacing: 1px;
	}

	.showcase-btn:hover {
		border: 1px solid #000;
		background-color: transparent;
		color: #000;
	}

	#landing-text {
		background-image: url(../../landing-page/img/png1.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		padding-top: 80px;
		/*padding-bottom: 60px;*/
		color: black;
		line-height: 20px;
	}

	.icons {
		width: 38%;
		border: 5px solid #0000ff;
		border-radius: 50%;
	}

	.icon-title {
		margin: 20px 5px;
		font-size: 25px;
	}

	.icon-text {
		font-size: 20px;
		padding: 0 10px;
	}

	.landing-carousel-header {
		margin-top: 80px;
		box-shadow: 0 0 11px 0px #0000ff;
		color: #000;
		/*opacity: .60;*/
		padding-left: 33px;
		padding-right: 33px;
		padding-top: 30px;
		padding-bottom: 150px;
		font-size: 24px;
		margin-bottom: 0;
		background-image: url(../../landing-page/img/landing-bg1.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		text-shadow: 0 0 20px #fff;
	}

	.landing-video {
	 	margin: -110px 0;
	 	z-index: 5;
	}

	

	.landing-social-media {
		background-color: #fbfe2adb; 
	}

	/* Social Media */

	.fab {
	    padding: 13px;
	    font-size: 17px;
	    width: 45px;
	    text-align: center;
	    text-decoration: none;
	    border-radius: 50%;
	}

	.landing-social-media {
		border-bottom: 2px solid lightgrey; 
		padding-top: 150px;
	}

	.social-media-icon {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.social-media-icon > a {
		margin: 0 35px;
	}

	.social-media-icon > a > i:hover {
	    /*border: 1px solid #000;*/
	    background-color: transparent;
	 }

	 .social-media-icon > a > .fa-facebook-f:hover {
	 	color: #3b5999;
	 }

	 .social-media-icon > a > .fa-google-plus-g:hover {
	 	color: #dd4b39;
	 }

	 .social-media-icon > a > .fa-twitter:hover {
	 	color: #0084ff;
	 }

	 .social-media-icon > a > .fa-instagram:hover {
	 	color: #e4405f;
	 }

	 .social-media-icon > a > .fa-pinterest-p:hover {
	 	color: #bd081c;
	 }

	.fa-facebook-f {
	    background-color: #3b5999;
	    color: white;
	}

	.fa-google-plus-g {
		background-color: #dd4b39;
	    color: white;
	}

	.fa-twitter {
	    background-color: #0084ff;
	    color: white;
	}

	.fa-instagram {
		background-color: #e4405f;
	    color: white;
	}

	.fa-pinterest-p {
		background-color: #bd081c;
	    color: white;
	}

	/* Footer */

	.footer {
		padding: 25px 0;
		background-color: #007bff;
		color: white;
	}

	.footer > div {
		margin: 0;
	}

	.footer > div > p {
		margin: 0;
		font-size: 15px;
	}

	.footer > div > div > a {
		/*margin-left: 5px;*/
		border-bottom: 2px solid #fff;
		text-decoration: none; 
		padding: 10px;
		margin: 0 70px;

	}

	.footer > div > div > a:hover {
		opacity: .80;
		border-bottom: 1px solid #000;
	}

	.modal-content {
		background-color: #007bff;
		font-size: 20px;
	}

	/*****************************************/
				/*End - Landing Page*/
	/*****************************************/





	/***************************************/
				/*Start - Home Page*/
	/***************************************/


	/***Navigation Bar***/

	/*.navbar {
		background-color: #ffff0075;
	}*/
	/*
	.active {
		border-bottom: 2px solid #007bff; 
	}*/



	.navbar-fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 999;
	background-color: #f8f9fabd; 
	padding: 0 30px;
	
	}

	.nav-link {
		width: 150px;
		font-size: 15px;
		margin-bottom: 2px;
		font-weight: 900;
		color: #0000ffa8!important;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 0;
	}

	.active > a {
		color: #0000ff!important;
		text-transform: uppercase;
	}

	.nav-link:hover {
		font-weight: 800;
		transition: .2s;
		color: #0000ff!important;
	}

	.navbar-brand {
		width: 8%;
	}

	/*.navbar-toggler {*/
		/*border: 1px solid #007bff!important;*/
		/*padding: 3px;
		margin-right: 10px;

	}*/


	/*** End of Navigation Bar ***/


	/*** Carousel ***/


	.carousel-text {
		width: 70%;
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.carousel-text > h5 {
		font-size: 70px;
		letter-spacing: 1px;
		color: #fbfe2a;
		word-spacing: 1rem;
		text-shadow: 0 0 19px #000;
	}


	.carousel-text > p {
		font-size: 40px;
		letter-spacing: 1px;
		text-shadow: 0 0 19px #000;
		word-spacing: 1rem;
		color: #fff;
	}


	.home-jumbotron {
		margin: 0;
		background-color: #fbfe2adb;
		padding-top: 50px;
		padding-bottom: 150px;
	}

	.home-jumbotron > div > .lead {
		margin: 0;
		font-size: 25px;
		font-weight: 700;
	}


	/*Start - Albums */

	/*#wrapper {
	 width: 100vw;
	}*/

	.activity-trainings-container {
		background-image: url(../../home/img/png1.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		margin-top: -90px;
		z-index: 100;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 30px;
		box-shadow: 0 0 20px #000;
		border-bottom: 10px solid #fbfe2a;
	}

	.activity-trainings {
		padding: 40px 0;
		border-top: 10px solid #fbfe2a; 
	}

	.community-tour {
		padding: 30px 0;
		/*margin-top: 50px;
		border-top: 5px solid #fbfe2a;*/
	}

	/*#wrapper h3 {
		font-size: 20px;
	}*/

	.activity-photos > div:nth-child(1) > img,
	.activity-photos > div:nth-child(2) > img {
		border-top: 5px solid #fc3b9d;
	}

	.activity-photos > div:nth-child(1) > div > h3,
	.activity-photos > div:nth-child(2) > div > h3 {
		color: #fc3b9d;
		letter-spacing: 2px;
	}

	.activity-photos > div:nth-child(3) > img,
	.activity-photos > div:nth-child(4) > img {
		border-top: 5px solid #007bff;
	}

	.activity-photos > div:nth-child(3) > div > h3,
	.activity-photos > div:nth-child(4) > div > h3 {
		color: #007bff;
		letter-spacing: 2px;
	}

	.activity-photos > div:nth-child(1),
	.activity-photos > div:nth-child(3) {
		padding-right: 0;
	}

	.activity-photos > div:nth-child(2),
	.activity-photos > div:nth-child(4) {
		padding-left: 0;
	}


	.video-first {
		border-top: 5px solid #fc3b9d;
	}

	.video-second {
		border-top: 5px solid #fbfe2a;
	}

	.video-third {
		border-top: 5px solid #007bff;
	}

	.video-first,
	.video-second,
	.video-third {
		transition: all 1s ease;
	}

	.video-first:hover,
	.video-second:hover,
	.video-third:hover {
		transform:scale(1.1);
	}

	#events-articles-container {
		margin: 50px 0;
	}

	.events-articles {
		padding: 0 30px;
		margin-top: 60px; 
		margin-bottom: 60px;
	}


	.events > h2,
	.articles > h2 {
		padding: 15px 0;
		background-color: #fc3b9d;
		color: #fff;
		border-top-left-radius: .25rem;
		border-top-right-radius: .25rem;
		border-bottom-left-radius: .25rem;
		border-bottom-left-radius: .25rem;
	}

	.events > ul,
	.article-info {
		margin: 15px 0; 
	}

	.events > ul > li {
		padding: 20px;
		font-size: 20px;
	}

	.list-group-item:hover {
		background-color: #fc3b9da8;
	}



	/* Article */

	.article-info {
		background-color: rgba(0, 123, 255, 0.33);
		border-top-right-radius: .25rem;
		border-top-left-radius: .25rem;
		border-bottom-right-radius: .25rem;
		border-bottom-left-radius: .25rem;
		padding: 20px;
	}

	.article-photo {
		float: left;
		width: 50%;
		margin-right: 20px;
	}

	.article-text {
		overflow: hidden;
	}

	.article-text > h5 {
		font-size: 23px;
	}

	.article-text > p {
		margin-bottom: 0;
		margin-top: 15px;
		font-size: 19px;
	}

	.readmore {
		float: right;
		margin: 15px 0;
		color: blue;
	}


	/* Social Media - Contact - Map */

	.social-map-contact {
		background-color: #fbfe2adb; 
	}

	.home-social-media > div {
		border-bottom: 2px solid grey; 
	}

	.address {
		margin-top: 40px;
		margin-bottom: 30px;
	}

	#map-container {
		width: 100%;
		
	}





	/***************************************/
				/*End - Home Page*/
	/***************************************/



	/***************************************/
				/*Start - About Page*/
	/***************************************/

	.page-title {
		width: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.page-title > h2 {
		font-size: 60px;
		letter-spacing: .1em;
		box-shadow: 0 0 16px 0px black;
		background-color: rgba(255, 255, 255, 0.19);
		color: #fc3b9d;
		/*text-shadow: 0 0 20px #000;*/
		padding: 20px 0;
		font-weight: 700;
		word-spacing: 1rem;
		text-transform: uppercase;
	}

	#about {
		background-image: url(../../about/img/home8.jpg);
		background-size: cover;
		background-position: center;
		min-height: 80vh;
	}


	.about-jumbotron {
		padding: 60px 20px;
		margin-bottom: 0;
		background-color: #fbfe2adb;
	}

	.about-jumbotron > div > p {
		margin-bottom: 0;
		font-size: 30px;
	}

	#about-contents {
		background-image: url(../../home/img/png1.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}

	.vision > div,
	.started > div {
		margin-left: 300px;
		margin-right: 300px;
		padding-top: 30px;
	}

	.vision {
		padding-top: 25px;
	}

	.started {
		margin-top: 15px;
	}

	.vision > div > h2 {
		font-size: 50px;
		color: #007bff;
	}

	.started > div > h2 {
		font-size: 50px;
		color: #fc3b9d;
	}

	.vision > div > p,
	.started > div > p {
		background-color: #007bff;
		border-top-right-radius: 1.25rem;
		border-top-left-radius: 1.25rem;
		border-bottom-right-radius: 1.25rem;
		border-bottom-left-radius: 1.25rem;
		padding: 30px;
		color: #fff;
		font-size: 25px;
		line-height: 1.5em;
	}

	.staff {
		margin-top: 20px;
	}

	.staff-header,
	.testimonials-header {
		/*background-color: rgba(0, 0, 0, 0.21);*/
		background-image: url(../../about/img/about-header-bg.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		margin-top: 80px;
		margin-bottom: 0px;
		font-size: 50px;
		padding: 45px 0;
		letter-spacing: 20px;
		text-transform: uppercase;
		/*text-shadow: 0 0 20px #fff;*/
	}

	/*.staff-header::first-letter,
	.testimonials-header:first-letter {
		color: #fc3b9d;
	}

	#about-contents > div > h2.fancy::nth-letter(odd) {
		color: #fc3b9d;
	}*/

	/*.staff-header:nth-letter(odd),
	.testimonials-header:nth-letter(odd) {
		color: #fc3b9d;
	}*/

	.staff > div,
	.testimonials > div {
		margin-top: 40px;
		/*margin-bottom: 40px;*/
	}

	.testimonials {
		margin: 0;
	}

	.testimonials > div {
		margin-bottom: 75px;
	}

	.staff > div:first-child,
	.testimonials > div:first-child {
		padding-left: 30px;
		border-right: 1px solid #000;
	}

	.staff > div:nth-child(2),
	.staff > div:nth-child(3),
	.testimonials > div:nth-child(2) {
		border-right: 1px solid #000;
	}

	.staff > div:last-child {
		padding-right: 30px;
	}

	.icons-staff {
		width: 70%;
		border-radius: 50%;
	}

	.testimony-icon {
		width: 40%;
		border-radius: 50%; 
	}

	.icon-text {
		padding-top: 25px;
		padding-bottom: 15px;
	}

	.about-social-media-icon,
	.about-contact {
		margin: auto;
	}

	.about-social-media-icon > a {
		margin: 0 25px;
	}

	.about-contact {
		margin-top: 15px;
		border-left: 1px solid grey;
		padding: 35px 35px;
		font-size: 20px;

	}


	/***************************************/
				/*End - About Page*/
	/***************************************/

	/***************************************/
				/*End - Programs Page*/
	/***************************************/

	#programs {
	background-image: url(../../programs/img/programs-bg.jpg);
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	}

	#programs > div > h2 {
		color: #fbfe2adb;
		text-shadow: 0 0 20px #000;
		background-color: rgba(0,123,255,.25);
	}

	#programs > div > p {
		color: #fff;
		text-shadow: 0 0 20px #000;
		font-size: 30px;
		font-weight: 700;
		letter-spacing: 3px;
	}

	.school-program {
		background-image: url(../../programs/img/png1.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		padding: 30px 50px;
		border-top: 10px solid #fc3b9d;
		border-bottom: 10px solid #fc3b9d; 
	}

	.program-list {
		margin-bottom: 30px;
		background-color: rgba(0,123,255,.25);
		/*border: 3px solid #fc3b9d;*/
	}

	.program-list > div:first-child {
		padding-left: 30px;
	}

	.program-list > div:last-child {
		padding-right: 30px;
	}

	.program-list > div > .offer-image {
		margin-top: 30px;
		width: 100%;
		height: 190px;
		border: 2px solid #fff;
		overflow: hidden;
	}

	.program-list > div > div > p {
		font-size: 20px;
		margin-bottom: 0;
	}



	.program-heads-blue,
	.program-heads-pink {
		padding: 50px 0;
		font-size: 50px;
	}

	.program-heads-blue {
		color: #007bff;
	}

	.program-heads-pink {
		color: #fc3b9d;
	}

	.accordion > div > .card-header {
		background-color: #fbfe2ab8;
		padding: 0;
	}

	.accordion > div > div > h4 {
		color: #000;
		padding: 15px 30px;
	}

	.accordion > div > .card-body {
		margin-left: 100px;
		text-align: left;
	}

	.sam,
	.rem {
		list-style: none;
	}


	table {
		border: 2px solid grey;
	}

	th {
		font-size: 20px;
	}

	.seminars {
		margin-bottom: 40px;
	}

	
	/***************************************/
				/*End - Programs Page*/
	/***************************************/


	/***************************************/
				/*Start - Careers Page*/
	/***************************************/
	#careers {
		background-image: url(../../careers/img/background.jpg);
		background-size: cover;
		background-position: center;
		min-height: 80vh;
	}

	.jobs {
		background-image: url(../../programs/img/png1.jpg);
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		padding: 50px 100px;
	}

	.jobs h2 {
		font-size: 40px;
		padding: 20px 0;
		color: #fbfe2adb;
		background-color: #007bffb5;
		margin: 25px 0;

	}

	.jobs > div > div {
		padding: 0 25px;
	}


	.job-title {
		color: #007bff;
		font-size: 25px;
		margin: 15px 0;

	}

	.qualifications,
	.benefits {
		list-style: none;
	}

	.overview-benefits {
		margin-top: 30px;
	}

	.jobs p,
	.jobs li {
		font-size: 20px;
	}

	/***************************************/
				/*End - Careers Page*/
	/***************************************/


	/***************************************/
				/*Start - Inquiry Page*/
	/***************************************/

	.nav-inquiry {
		position: static;
		background-color: #ffff0075; 	
	}

	.inquiry {
		margin: 40px 300px;
		margin-bottom: 40px;
		border: 15px solid #007bff;
		border-radius: 2%;
		background-color: #007bff;
		padding: 10px;
	}

	.inquiry-header {
		margin-bottom: 13px;
		background-color: white;
		padding: 10px 0;
	}

	.inquiry-details {
		background-color: white;
		padding: 50px 80px;
	}

	textarea {
		display: block;
		width: 100%;
		border: 1px solid lightgrey;
	}

	.inquiry-btn {
		padding: 6px 55px;
		font-size: 20px;
	}

	.disclaimer-form {
		font-size: 10px;
	}

	.form-group {
		margin-bottom: 20px;
	}

}
